@model IEnumerable<SaleOnline.Models.ProductCard>
@{
    ViewBag.Title = "ViewShoppingCard";
    Layout = "~/Views/HomePage/Home.cshtml";
}








<section class="section-reservation-form padding-top-100 padding-bottom-100">
    <div class="container">
        <div class="section-content">
            <div class="swin-sc swin-sc-title style-2">
                <h3 class="title"><span>Chi tiết giỏ hàng</span></h3>
            </div>
            <div class="reservation-form">
                <div class="swin-sc swin-sc-contact-form light mtl">
                    <table class="table table-striped" style="text-align: center;">
                        <thead>
                            <tr>
                                <th width="30%" style="text-align: center;">Product</th>
                                <th width="20%" style="text-align: center;">Price</th>
                                <th width="20%" style="text-align: center;">Qty.</th>
                                <th width="20%" style="text-align: center;">Total</th>
                                <th width="20%" style="text-align: center;">Update</th>
                                <th width="10%" style="text-align: center;">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Images/counter-1.png" width="250px">
                                        <p><br><b>@item.sProName</b></p>
                                    </td>
                                    <td>@String.Format("{0:0,0}", @item.dPrice) VNĐ</td>

                                    @using (Html.BeginForm("UpdateCart", "ShoppingCart", new { @ProId = item.iProID }))
                                    {
                                        <td>@Html.TextBox("txtSoLuong", item.iQuantity, new { @size = 5 }) </td>
                                        <td>@String.Format("{0:0,0}", item.dPrice * item.iQuantity) VNĐ</td>
                                        <td>
                                            <input type="submit" value="Cập nhật" />
                                            <br />


                                        </td>
                                    }


                                    <td><a href=" @Url.Action("DeleteCart", "ShoppingCart", new { @ProId = item.iProID })" class="remove" title="Remove this item"><i class="fa fa-trash-o fa-2x"></i></a></td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>

                <div class="swin-sc swin-sc-contact-form light mtl style-full">


                    <div class="form-group">
                        <div class="input-group">
                            <p colspan="6" style="text-align:right;color:blue">Tổng thành tiền: @String.Format("{0:0,0}", @ViewBag.MoneySum)</p></tr>
                            <p colspan="6" style="text-align:right;color:blue"><a href="@Url.Action("Index","Product")">Tiếp tục mua hàng</a></p></tr>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="swin-btn-wrap center">
                            @*@using (Html.BeginForm("Payment", "ShoppingCart"))
                                {
                                    <input type="submit" class="swin-btn center form-submit" value="Thanh Toán" />

                                }*@
                            @using (Html.BeginForm("Payment", "ShoppingCart"))
                            {
                                <input type="submit" class="swin-btn center form-submit" value="Thanh Toán" />

                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
