@model PrjModel.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/HomePage/Home.cshtml";
}






<section class="product-single padding-top-100 padding-bottom-100">
    <div class="row">
        <div class="col-md-6">
            <div class="product-image">
                <div class="product-featured-image">
                    <div class="main-slider">
                        <div class="slides">
                            <div class="featured-image-item"><img src="~/Images/@Model.ProductImage" alt="fooday" class="img img-responsive"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="product-summary">
                <div class="product-title">
                    <div class="title">@Model.ProductName</div>
                </div>
                <div class="product-price">
                    <div class="price">@Model.UnitPrice<span class="currency-symbol">vnđ</span></div>
                </div>
                <div class="product-desc">
                    <p>@Model.Supplier.CompanyName</p>
                    <p>@Model.Category.CategoryName</p>
                    <p>@Model.Quantity</p>

                </div>
                <div class="product-desc">
                    <p>@Model.Description</p>
                </div>
                <div class="product-quanlity">
                    <form action="#">

                        <div class="add-to-cart"><button value="@Model.ProductID" class="swin-btn muahang"> <span>Add To Cart</span></button></div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $(".muahang").click(function () {
            var id = $(this).val();
            $.ajax({
                url: "/ShoppingCart/AddCard",
                data: { pid: id },
                success: function (data) {
                    $("#giohang").text(data)
                }
            })
        })
    })
</script>