@model IEnumerable<PrjModel.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HomePage/Home.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>



<section class="product-sesction-02 padding-top-100 padding-bottom-100">
    <div class="container">
        <div class="swin-sc swin-sc-title style-3">
            <p class="title"><span>Danh sách Sản phẩm</span></p>
        </div>
        <div class="swin-sc swin-sc-product products-02 carousel-02">

            <div class="products nav-slider">
                <div class="row slick-padding">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="blog-item item swin-transition">
                                <div class="block-img">
                                    <img src="~/Images/banner-img-2.jpg" alt="" class="img img-responsive">
                                    <div class="block-circle price-wrapper"><span class="price woocommerce-Price-amount amount"><span class="price-symbol">@item.UnitPrice</span></span></div>

                                    <div class="group-btn"><a href="@Url.Action("Detail", "Product", new {id = item.ProductID })" class="swin-btn btn-link"><i class="icons fa fa-link"></i></a><a href="javascript:void(0)" class="swin-btn btn-add-to-card"><i class="fa fa-shopping-basket"></i></a></div>
                                </div>
                                <div class="block-content">
                                    <h5 class="title"><a href="@Url.Action("Detail", "Product", new {id = item.ProductID })">@item.ProductName</a></h5>
                                    <div class="product-info">
                                      @item.Description 
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>


            </div>

        </div>

    </div>
</section>